In [12]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_excel('lat_long.xlsx', index_col=0)

In [6]:
df.columns

Index(['Terminal Owner Name', 'TERMINAL ID', 'Address',
       'TERMINAL CITY/TOWN/LOCALITY', 'TERMINAL COUNTY/PROVINCE',
       'TERMINAL POSTAL CODE', 'TERMINAL COUNTRY', 'TERMINAL GEO COORDINATES',
       'lat', 'long', 'B25'],
      dtype='object')

In [27]:
df['B25'] = np.random.randint(10000,60000, size=len(df))

In [29]:
df['B29'] = np.random.randint(10000,60000, size=len(df))

In [31]:
df['B37'] = np.random.randint(10000,60000, size=len(df))

In [ ]:
df['B73'] = np.random.randint(10000,60000, size=len(df))

In [34]:
df['D11'] = np.random.randint(10000,110000, size=len(df))

In [35]:
df['D2K'] = np.random.randint(10000,110000, size=len(df))

In [36]:
df['D6N'] = np.random.randint(10000,110000, size=len(df))

In [37]:
df['D80'] = np.random.randint(10000,110000, size=len(df))

In [38]:
df['P18'] = np.random.randint(10000,80000, size=len(df))

In [39]:
df['P2R'] = np.random.randint(10000,80000, size=len(df))

In [40]:
df['P37'] = np.random.randint(10000,80000, size=len(df))

In [41]:
df['P42'] = np.random.randint(10000,80000, size=len(df))

In [44]:
df['O21'] = np.random.randint(10000,90000, size=len(df))

In [45]:
df['O73'] = np.random.randint(10000,90000, size=len(df))

In [46]:
df['O8I'] = np.random.randint(10000,90000, size=len(df))

In [47]:
df['OUB'] = np.random.randint(10000,90000, size=len(df))

In [48]:
df

,Terminal Owner Name,TERMINAL ID,Address,TERMINAL CITY/TOWN/LOCALITY,TERMINAL COUNTY/PROVINCE,TERMINAL POSTAL CODE,TERMINAL COUNTRY,TERMINAL GEO COORDINATES,lat,long,...,D6N,D80,P18,P2R,P37,P42,O21,O73,O8I,OUB
Submitter,,,,,,,,,,,,,,,,,,,,,
Shell,BotanyBay B Vopak depot,TAU000001,49 Friendship Road,Port Botany,NaN,2036,Australia,NaN,-33.973468,151.217852,...,98679,23344,28994,39778,36379,35313,14078,18263,57253,69947
Shell,Botn Vopak BitDepot,TAU000002,Unwin Street,Granville,NaN,2142,Australia,NaN,-33.834510,151.006011,...,107588,61885,10048,69676,12553,49715,47770,78190,29019,49802
Shell,Kwinana Coogee depot,TAU000003,Patterson Road,Kwinana,NaN,6167,Australia,NaN,-32.248889,115.843950,...,53914,21532,36024,47244,60178,66333,60468,11998,75126,64860
Shell,Hobart Caltex depot,TAU000004,Selfs Point Road,New Town,NaN,7008,Australia,NaN,-42.858801,147.305875,...,19075,12942,55613,54832,16034,47484,59428,57668,85176,50396
Shell,DarwinEArm Vopak depot,TAU000005,780 Berrimah Road,East Arm,NaN,828,Australia,NaN,-12.477441,130.901511,...,63570,48619,59157,27101,65160,23644,48844,20490,82789,86400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
DTN,Jones Oil,TIE000024,Manor Street,Waterford,NaN,NaN,Ireland,NaN,52.261000,-7.111908,...,65498,47167,15226,65447,34278,67574,39034,61797,55262,44206
DTN,Jones Oil,TIE000025,Prior Park,Clonmel,NaN,NaN,Ireland,NaN,52.355000,-7.703889,...,37848,13932,75099,38866,65390,48469,46987,73759,58835,63980
DTN,Jones Oil,TIE000026,Finisklin Road,Sligo,NaN,NaN,Ireland,NaN,54.192986,-8.730543,...,73801,31234,41810,19138,67204,40441,35866,44319,65204,57621
DTN,Jones Oil,TIE000027,NaN,Edenderry,NaN,NaN,Ireland,NaN,53.343366,-7.048858,...,61920,26396,59327,64878,12600,26833,52590,38685,51305,25533
DTN,Jones Oil,TIE000028,NaN,Birr,NaN,NaN,Ireland,NaN,53.096584,-7.910874,...,48601,29779,42534,23822,56739,14371,58261,68436,45998,52048

In [49]:
df.to_excel("product_data.xlsx")